@import '../../scss/vars.scss';
.register{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
    &__decaration{
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}
