@import '../../scss/vars.scss';

.aside{
    position: relative;
    width: 400px;
    height: 100vh;
    background: $darkBlue;
    padding: 80px 40px 0;
    display: flex;
    flex-direction: column;
    &__all{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 30px;
    }
    &__text{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }
    &__menu{
        margin-bottom: 40px;
        max-height: 400px;
        overflow-y: scroll;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        padding: 12px 15px;
        cursor: pointer;
        transition: all .2s linear;
        &:hover{
            background: $blue;
            .aside__item-delete{
                display: flex;
            }
        }
        &-left{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &-color{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
        &-text{
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
        }
        &-delete{
            color: $white;
            font-size: 20px;
            transform: rotate(45deg);
            width: 20px;
            height: 20px;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    &__btn{
        width: 240px;
        padding: 12px 15px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        background: transparent;
        text-align: start;
        color: #767676;
        transition: color .2s linear;
        &:hover{
            color: $gray;
        }
    }
    &__create{
        position: relative;
    }
    &__popup{
        position: absolute;
        bottom: -150px;
        right: -100px;
        width: 235px;
        height: 148px;
        padding: 20px;
        background: $lightBlue;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        &-close{
            position: absolute;
            top: -10px;
            right: -15px;
            color: $white;
            font-size: 30px;
            transform: rotate(45deg);
            width: 30px;
            height: 30px;
            background: $darkBlue;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    &__field{
        width: 200px;
        height: 32px;
        border: 1px solid $blue;
        border-radius: 4px;
        padding-left: 10px;
    }
    &__colors{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__color{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
    }
    &__add{
        width: 170px;
        height: 37px;
        border-radius: 4px;
        background: $green;
        color: $blue;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
    }
    &__exit{
        position: absolute;
        bottom: 20px;
        left: 15px;
        width: 300px;
        height: 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background: $green;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        color: $blue;
        cursor: pointer;
        transition: transform .3s linear;
        &:hover{
            transform: scale(1.03);
        }
    }

}